/*
  Created by : Ashish Chandrakant Naik
  2013 - 2017
  St. francis Institute of tech

*/
.FEdiv {
	background-color: #FA7777;
}

.SEdiv {
	background-color: #FFCC33;
}

.TEdiv{
	background-color: #FF8800;
}

.BEdiv{
	background-color: #44FF44;
}